@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

body {
  font-family: Poppins;
  background-color: #292626;
  color: white;
}

dialog,
input {
  outline: none;
  border: none;
}
dialog::backdrop {
  background-color: black;
  opacity: 0.35;
}

/* Custom scrollbar with transparent background and gray handle */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray handle on hover */
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #888; /* Gray handle */
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  background: transparent;
}
